@charset "UTF-8";
body.editor {
  background-color: #f1f1f1;
  font-family: "Segoe UI", "Helvetica Neue", "Helvetica", "Arial", "sans-serif", "微软雅黑";
  font-size: 14px;
  color: #333; }
  body.editor textarea, body.editor pre, body.editor code {
    font-family: "Segoe UI", "Helvetica Neue", "Helvetica", "Arial", "sans-serif", "微软雅黑";
    margin: 0; }
  body.editor a {
    text-decoration: none; }

.mindmap .ops {
  position: absolute;
  left: 10px;
  top: 10px; }
  .mindmap .ops a.op {
    display: block;
    height: 30px;
    line-height: 30px;
    background-color: #ffe08b;
    border-radius: 3px;
    color: #333;
    padding: 0 10px;
    float: left;
    margin-right: 10px; }
    .mindmap .ops a.op:hover {
      text-decoration: none;
      background-color: #ffe7a5; }

.mindmap {
  position: fixed;
  top: 10px;
  left: 10px;
  right: 10px;
  bottom: 10px;
  background-color: #FFF;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
  border-radius: 4px;
  -webkit-user-select: none;
  overflow: hidden; }
  .mindmap .bottom-area {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1; }
  .mindmap .topics-area {
    position: absolute;
    top: 50%;
    left: 50%; }
    .mindmap .topics-area .topic {
      position: absolute;
      border-radius: 4px;
      cursor: pointer;
      font-size: 0;
      background-color: #bde4fb;
      border: solid 3px transparent;
      -webkit-transition: all 0.3s ease-out;
      -moz-transition: all 0.3s ease-out;
      -ms-transition: all 0.3s ease-out;
      -o-transition: all 0.3s ease-out;
      transition: all 0.3s ease-out; }
      .mindmap .topics-area .topic:hover {
        border-color: #74c6f8; }
      .mindmap .topics-area .topic.active {
        border-color: rgba(0, 0, 0, 0.5); }
      .mindmap .topics-area .topic .text {
        min-height: 24px;
        line-height: 24px;
        font-size: 16px;
        overflow: hidden;
        padding: 0px 5px;
        font-weight: bold;
        color: rgba(0, 0, 0, 0.7); }
      .mindmap .topics-area .topic.editing .text {
        pointer-events: none;
        opacity: 0; }
      .mindmap .topics-area .topic.editing .text-ipter-box {
        position: absolute;
        background: #eeeeee;
        padding-right: 10px; }
        .mindmap .topics-area .topic.editing .text-ipter-box textarea.text-ipter {
          resize: none;
          border: 0 none;
          padding: 0;
          margin: 0;
          background: transparent;
          outline: none;
          white-space: nowrap;
          min-height: 24px;
          line-height: 24px;
          font-size: 16px;
          overflow: hidden;
          padding: 0px 5px;
          font-weight: bold;
          color: rgba(0, 0, 0, 0.7);
          position: absolute;
          padding-right: 100px; }
