$topic-bg-common: lighten(#44B2F5, 25%);
$topic-hover-border: lighten(#44B2F5, 10%);
$topic-active-border: rgba(black, 0.5);
$topic-editing-text-bg: #eee;

@import "mixin";

body.editor {
  background-color: #f1f1f1;
  $ff: "Segoe UI", "Helvetica Neue", "Helvetica", "Arial", "sans-serif", "微软雅黑";

  font-family: $ff;
  font-size: 14px;
  color: #333;

  textarea, pre, code {
    font-family: $ff;
    margin:0;
  }

  a { text-decoration:none; }
}


@mixin textarea-reset {
  resize:none;
  border:0 none;
  padding:0;margin:0;
  background:transparent;
  outline:none;
  white-space:nowrap;
}

@mixin topic-text {
  min-height:24px;
  line-height:24px;
  font-size:16px;
  overflow:hidden;
  padding:0px 5px;
  font-weight: bold;
  color:rgba(black, 0.6);
}

.mindmap .mindmap-ops {
  position:absolute;
  left:10px;top:10px;
  a.op {
    display:block;
    height:30px;line-height:30px;
    background-color:lighten(#ffcc3f, 15%);
    border-radius:3px;
    color:#333;
    padding:0 10px;
    float:left;
    margin-right:10px;
    &:hover {
      text-decoration:none;
      background-color:lighten(#ffcc3f, 20%);
    }
  }
  .keys {
    float:left;
    height: 30px;line-height: 30px;
    span {
      float:left;
      height: 30px;line-height: 30px;
      background-color: #f1f1f1;
      margin-right: 10px;
      border-radius:3px;
      padding:0 10px;
    }
  }
}

.mindmap {
  position: fixed;
  top:10px;left:10px;right:10px;bottom:10px;
  background-color: #FFF;
  box-shadow:1px 1px 2px rgba(black, 0.4);
  border-radius:4px;
  -webkit-user-select: none;
  overflow:hidden;

  .bottom-area {
    position:absolute;
    top:0;left:0;right:0;bottom:0;
    z-index:-1;
  }

  .topics-area {
    position:absolute;
    top:50%;
    left:50%;

    .topic {z-index:1;}
    canvas {z-index:0;}

    $border-width: 3px;

    .topic {
      position:absolute;
      border-radius:4px;
      cursor: pointer;
      font-size: 0;
      background-color:$topic-bg-common;
      border:solid $border-width transparent;
      @include transition(all .3s ease-out);


      &:hover  { border-color: $topic-hover-border;}
      &.active { border-color: $topic-active-border; background:lighten(#4CC85E, 15%);}
      

      .text {@include topic-text;}


      &.editing {
        .text {
          pointer-events:none;
          opacity:0;
        }

        .text-ipter-box {
          position: absolute;
          background: $topic-editing-text-bg;
          padding-right: 10px;

          textarea.text-ipter {
            @include textarea-reset;
            @include topic-text;
            position: absolute;
            padding-right:100px;
          }
        }
      }

      &.flash-highlight {
        background-color: #FFCC3F;
      }

      &.leaf, &.root {
        .joint {display:none;}
      }

      .joint {
        $w: 16px;

        position: absolute;
        width:$w;
        height:$w;
        right: - $w - $border-width;
        top:50%;
        margin-top:-$w/2;
        // background-color:black;
        background-color: white;
        border-radius:100px;

        box-sizing:border-box;
        border:solid 1px #666;

        &:hover {
          background:#666;
          &:before, &:after {background-color:#fff !important;}
        }
      }

      &.opened .joint {
        &:before {
          content:"";
          position: absolute;
          height:2px;width:8px;
          top:6px;left:3px;
          background-color:#666;
        }
      }

      &.closed .joint {
        &:before {
          content:"";
          position: absolute;
          height:2px;width:8px;
          top:6px;left:3px;
          background-color:#666;
        }
        &:after {
          content:"";
          position: absolute;
          height:8px;width:2px;
          top:3px;left:6px;
          background-color:#666;
        }
      }


      > .image {
        display: none;
      }

      &.with-image {
        > .image {
          display:block;
          width: 64px;height:64px;
          position:absolute;
          background-size:cover;
          background-repeat:no-repeat;
          border:solid 1px rgba(black, 0.3);
          box-sizing:border-box;
        }

        .text {
          display: inline-block;
          margin-left:69px;
          min-height:64px;
          vertical-align: middle;
        }
      }

    }

    .topic .float-num {
      position:absolute;
      z-index:2;
      right:0;
      height:30px;line-height:30px;
      font-weight:bold;
      font-size:28px;
      z-index:2;

      &.plus {
        top:-20px;
        color:#009800;
      }
      &.minus {
        bottom:-20px;
        color:#E54028;
      }
    }

    canvas {
      position:absolute;
      pointer-events:none;
    }

  }

  .image-dialog-overlay {
    position:absolute;
    top:0;left:0;right:0;bottom:0;
    background-color: rgba(black, 0.5);
    z-index:5;
  }

  .image-dialog {
    $w: 600px;
    $h: 400px;

    position:absolute;
    width:$w;height:$h;
    top:50%;left:50%;
    margin-top:-$h/2;
    margin-left: -$w/2;
    background:white;
    z-index:6;
    border-radius:3px;
    overflow:hidden;

    .image-dialog-ops {
      position:absolute;
      left:0px;right:0px;bottom:0px;
      height:50px;
      background-color: #f1f1f1;
      padding: 0 2.5px;
      border-top:solid 1px #ddd;

      .btn {
        width:calc(33.333333333% - 5px);
        height:40px;line-height:40px;
        float:left;
        margin-top:5px;
        margin-left:2.5px;
        margin-right:2.5px;
        border-radius:3px;
        color:white;
        font-size:16px;font-weight: bold;
        text-align:center;
        box-sizing:border-box;
        border:solid 1px rgba(black, 0.1);
        cursor:pointer;
      }

      .btn.ok {
        background-color:#4CC85E;
        text-shadow: 0 0 2px rgba(black, 0.5);

        &:hover {
          background-color: lighten(#4CC85E, 10%);
        }
      }

      .btn.cancel, .btn.delete {
        background-color:#ddd;
        color:#666;
        &:hover {
          background-color: #eee;
        }
      }
    }

    .url-ipter {
      box-sizing:border-box;
      width:calc(100% - 10px);
      height:40px;line-height:38px;
      border:solid 1px #999;
      box-shadow: inset 1px 1px 4px rgba(black, 0.2);
      margin-top:5px;margin-left:5px;
      border-radius:2px;
      padding:0 10px;
      font-size:16px;
      font-weight:bold;
    }

    .image-loading-area {
      width:280px;height:280px;
      margin-top:5px;
      margin-left:5px;

      background-size:contain;
      background-repeat:no-repeat;
    }
  }
}