$topic-bg-common: lighten(#44B2F5, 25%);
$topic-hover-border: lighten(#44B2F5, 10%);
$topic-active-border: rgba(black, 0.5);
$topic-editing-text-bg: #eee;

@import "mixin";

body.editor {
  background-color: #f1f1f1;
  $ff: "Segoe UI", "Helvetica Neue", "Helvetica", "Arial", "sans-serif", "微软雅黑";

  font-family: $ff;
  font-size: 14px;
  color: #333;

  textarea, pre, code {
    font-family: $ff;
    margin:0;
  }

  a { text-decoration:none; }
}


@mixin textarea-reset {
  resize:none;
  border:0 none;
  padding:0;margin:0;
  background:transparent;
  outline:none;
  white-space:nowrap;
}

@mixin topic-text {
  min-height:24px;
  line-height:24px;
  font-size:16px;
  overflow:hidden;
  padding:0px 5px;
  font-weight: bold;
  color:rgba(black, 0.7);
}

.mindmap .ops {
  position:absolute;
  left:10px;top:10px;
  a.op {
    display:block;
    height:30px;line-height:30px;
    background-color:lighten(#ffcc3f, 15%);
    border-radius:3px;
    color:#333;
    padding:0 10px;
    float:left;
    margin-right:10px;
    &:hover {
      text-decoration:none;
      background-color:lighten(#ffcc3f, 20%);
    }
  }
}

.mindmap {
  position: fixed;
  top:10px;left:10px;right:10px;bottom:10px;
  background-color: #FFF;
  box-shadow:1px 1px 2px rgba(black, 0.4);
  border-radius:4px;
  -webkit-user-select: none;
  overflow:hidden;

  .bottom-area {
    position:absolute;
    top:0;left:0;right:0;bottom:0;
    z-index:-1;
  }

  .topics-area {
    position:absolute;
    top:50%;
    left:50%;

    .topic {
      position:absolute;
      border-radius:4px;
      cursor: pointer;
      font-size: 0;
      background-color:$topic-bg-common;
      border:solid 3px transparent;
      @include transition(all .3s ease-out);


      &:hover  { border-color: $topic-hover-border;}
      &.active { border-color: $topic-active-border;}
      

      .text {@include topic-text;}


      &.editing {
        .text {
          pointer-events:none;
          opacity:0;
        }

        .text-ipter-box {
          position: absolute;
          background: $topic-editing-text-bg;
          padding-right: 10px;

          textarea.text-ipter {
            @include textarea-reset;
            @include topic-text;
            position: absolute;
            padding-right:100px;
          }
        }
      }
    }
  }
}